* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-header {
    background-color: black;
}

.img-logo {
    width: 70%;
    height: 200px;
    display: block;
    margin-left: 15%;
}

.header {
    display: inline-block;
    background-color: black;
}

.left-bar {
    display: inline-block;
    background-color: rgb(94, 17, 17);
    width: 400px;
    height: 1200px;
}

.left-bar__item {
    display: inline-block;
    position: relative;
    top: 30px;
    left: 30px;
    margin-bottom: 30px;
    width: 340px;
    height: 250px;
    border-radius: 20px;
    background-color: black;
}

.description {
    color: white;
    text-align: center;
}

main {
    background-color: grey;
}

.title-main {
    position: relative;
    bottom: 1180px;
    width: 75%;
    left: 420px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-section__item {
    position: relative;
    bottom: 1170px;
    left: 450px;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 200px;
    width: 70%;
    border-radius: 20px;
    background-color: black;
}

.movie-img {
    height: 180px;
    width: 130px;
    margin: 10px;
}

.left-bar-img {
    width: 320px;
    height: 200px;
    margin: 10px;
}
